body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:409px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:777px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1066 {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:777px;
}
#u1067 {
  position:absolute;
  left:2px;
  top:380px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
}
#u1068 {
  position:absolute;
  left:17px;
  top:38px;
  width:375px;
  height:65px;
}
#u1069 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1070 {
  position:absolute;
  left:186px;
  top:43px;
  width:36px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u1072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1072 {
  position:absolute;
  left:329px;
  top:41px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1073 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1074 {
  position:absolute;
  left:114px;
  top:39px;
  width:25px;
  height:25px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1076 {
  position:absolute;
  left:363px;
  top:40px;
  width:25px;
  height:25px;
}
#u1077 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1078 {
  position:absolute;
  left:308px;
  top:45px;
  width:16px;
  height:16px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1080 {
  position:absolute;
  left:184px;
  top:722px;
  width:40px;
  height:40px;
}
#u1081 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1082 {
  position:absolute;
  left:158px;
  top:15px;
  width:92px;
  height:10px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:-3px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1084 {
  position:absolute;
  left:25px;
  top:73px;
  width:25px;
  height:25px;
}
#u1085 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1086 {
  position:absolute;
  left:20px;
  top:38px;
  width:32px;
  height:32px;
}
#u1087 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1088 {
  position:absolute;
  left:54px;
  top:43px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1089 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1090 {
  position:absolute;
  left:17px;
  top:102px;
  width:375px;
  height:602px;
  overflow:hidden;
}
#u1090_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:602px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1090_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:973px;
}
#u1091 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:973px;
}
#u1092 {
  position:absolute;
  left:2px;
  top:478px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1093 {
  position:absolute;
  left:9px;
  top:13px;
  width:348px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1094 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  word-wrap:break-word;
}
#u1095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u1095 {
  position:absolute;
  left:299px;
  top:49px;
  width:51px;
  height:20px;
  color:#868686;
}
#u1096 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:552px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1097 {
  position:absolute;
  left:7px;
  top:319px;
  width:350px;
  height:552px;
  font-size:14px;
}
#u1098 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u1099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:218px;
}
#u1099 {
  position:absolute;
  left:4px;
  top:82px;
  width:351px;
  height:218px;
}
#u1100 {
  position:absolute;
  left:2px;
  top:101px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u1101 {
  position:absolute;
  left:146px;
  top:47px;
  width:27px;
  height:25px;
  opacity:0.8;
  color:#868686;
}
#u1102 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u1103 {
  position:absolute;
  left:174px;
  top:49px;
  width:25px;
  height:20px;
  color:#868686;
}
#u1104 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
}
#u1105 {
  position:absolute;
  left:101px;
  top:903px;
  width:153px;
  height:40px;
  color:#FFFFFF;
}
#u1106 {
  position:absolute;
  left:2px;
  top:12px;
  width:149px;
  word-wrap:break-word;
}
#u1107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1107 {
  position:absolute;
  left:124px;
  top:908px;
  width:31px;
  height:31px;
}
#u1108 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
