body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:409px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:777px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6886 {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:777px;
}
#u6887 {
  position:absolute;
  left:2px;
  top:380px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
}
#u6888 {
  position:absolute;
  left:17px;
  top:38px;
  width:375px;
  height:65px;
}
#u6889 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6890 {
  position:absolute;
  left:186px;
  top:43px;
  width:36px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6891 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u6892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6892 {
  position:absolute;
  left:329px;
  top:41px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6893 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6894 {
  position:absolute;
  left:114px;
  top:39px;
  width:25px;
  height:25px;
}
#u6895 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6896 {
  position:absolute;
  left:363px;
  top:40px;
  width:25px;
  height:25px;
}
#u6897 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6898 {
  position:absolute;
  left:308px;
  top:45px;
  width:16px;
  height:16px;
}
#u6899 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6900 {
  position:absolute;
  left:184px;
  top:722px;
  width:40px;
  height:40px;
}
#u6901 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6902 {
  position:absolute;
  left:158px;
  top:15px;
  width:92px;
  height:10px;
}
#u6903 {
  position:absolute;
  left:2px;
  top:-3px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6904 {
  position:absolute;
  left:25px;
  top:73px;
  width:25px;
  height:25px;
}
#u6905 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6906 {
  position:absolute;
  left:20px;
  top:38px;
  width:32px;
  height:32px;
}
#u6907 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6908 {
  position:absolute;
  left:54px;
  top:43px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6909 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6910 {
  position:absolute;
  left:17px;
  top:102px;
  width:375px;
  height:602px;
  overflow:hidden;
}
#u6910_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:602px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u6910_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1855px;
}
#u6911 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1855px;
}
#u6912 {
  position:absolute;
  left:2px;
  top:920px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6913 {
  position:absolute;
  left:9px;
  top:13px;
  width:348px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6914 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  word-wrap:break-word;
}
#u6915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u6915 {
  position:absolute;
  left:146px;
  top:67px;
  width:27px;
  height:25px;
  opacity:0.8;
  color:#868686;
}
#u6916 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u6917 {
  position:absolute;
  left:174px;
  top:69px;
  width:25px;
  height:20px;
  color:#868686;
}
#u6918 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u6919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u6919 {
  position:absolute;
  left:237px;
  top:69px;
  width:116px;
  height:20px;
  color:#868686;
}
#u6920 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u6921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u6921 {
  position:absolute;
  left:9px;
  top:69px;
  width:113px;
  height:20px;
  color:#797979;
}
#u6922 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:1342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6923 {
  position:absolute;
  left:7px;
  top:104px;
  width:350px;
  height:1342px;
  font-size:14px;
}
#u6924 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u6925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
}
#u6925 {
  position:absolute;
  left:83px;
  top:1780px;
  width:153px;
  height:40px;
  color:#FFFFFF;
}
#u6926 {
  position:absolute;
  left:2px;
  top:12px;
  width:149px;
  word-wrap:break-word;
}
#u6927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u6927 {
  position:absolute;
  left:106px;
  top:1785px;
  width:31px;
  height:31px;
}
#u6928 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
