body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:409px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:777px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6595 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:777px;
}
#u6596 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:380px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6597 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:38px;
  width:375px;
  height:667px;
}
#u6598 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
}
#u6599 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:38px;
  width:375px;
  height:65px;
}
#u6600 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6601 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:43px;
  width:36px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u6603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6603 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:41px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6605 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:73px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6607 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:40px;
  width:25px;
  height:25px;
}
#u6608 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6609 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:45px;
  width:16px;
  height:16px;
}
#u6610 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6611 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:722px;
  width:40px;
  height:40px;
}
#u6612 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6613 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:15px;
  width:92px;
  height:10px;
}
#u6614 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6615 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:39px;
  width:25px;
  height:25px;
}
#u6616 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6617 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:38px;
  width:32px;
  height:32px;
}
#u6618 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6619 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:43px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u6621 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:73px;
  width:25px;
  height:25px;
}
#u6622 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#949494;
}
#u6623 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:181px;
  width:61px;
  height:20px;
  font-size:15px;
  color:#949494;
}
#u6624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u6625 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:209px;
  width:312px;
  height:1px;
}
#u6626 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u6627 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:182px;
  width:23px;
  height:20px;
}
#u6628 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u6629 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:184px;
  width:15px;
  height:17px;
  font-family:'Times New Roman Normal', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u6630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u6631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#949494;
}
#u6631 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:133px;
  width:61px;
  height:20px;
  font-size:15px;
  color:#949494;
}
#u6632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:2px;
}
#u6633 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:161px;
  width:312px;
  height:1px;
}
#u6634 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u6635 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:134px;
  width:23px;
  height:20px;
}
#u6636 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:42px;
  background:inherit;
  background-color:rgba(231, 0, 33, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6637 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:248px;
  width:300px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6638 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
